function Graph.f 0
push argument 0
push constant 10
add
return
function Graph.drawAxes 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 128
push constant 0
push constant 128
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 128
push constant 255
push constant 128
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Graph.drawGraph 2
push constant 32
neg
pop local 0
label WHILE_EXP0
push local 0
push constant 33
lt
not
if-goto WHILE_END0
push local 0
call Graph.f 1
neg
pop local 1
push local 1
push constant 129
lt
push local 1
and
push constant 128
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 128
add
push local 1
push constant 128
add
call Screen.drawPixel 2
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
